/* App.css */
/* .App {
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  font-family: Arial, sans-serif;
} */

h2 {
  color: #2c3e50;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}